.result_list {
  //ul
  width: 350px;
  z-index: 1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid inherit;
  background-color: #20252d;
  max-height: 300px;
  overflow: scroll;
  li + li {
    border-top: 1px solid #20252d;
  }
  li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: #c4c4c4;

    img {
      width: 100px;
    }

    &:hover {
      color: #adff2f;
      background-color: #292d31;
    }
  }

  .selected {
    color: #adff2f;
  }
}
