@import '../../../../scss/variable.scss';

.SearchInput__input {
  width: 350px;
  border: 1px solid $INPUT_COLOR;
  border-radius: 10px;
  padding: 10px 24px;
  font-size: 20px;
  background-color: $INPUT_COLOR;
  color: $FONT_COLOR;
  &:focus {
    outline: 2px solid $INPUT_FOCUS_COLOR;
    &::placeholder {
      color: $INPUT_FOCUS_COLOR;
    }
  }
}
